[submodule "druntime"]
	path = runtime/druntime
	url = https://github.com/yanok/druntime.git
	branch = ldc-weka-1.30-macos15.4-workaround
[submodule "phobos"]
	path = runtime/phobos
	url = https://github.com/ldc-developers/phobos.git
[submodule "tests/d2/dmd-testsuite"]
	path = tests/d2/dmd-testsuite
	url = https://github.com/ldc-developers/dmd-testsuite.git
